#displayWord {
	letter-spacing: 20px;
}

.jumbotron {
	color: white;
	letter-spacing: 3px;
	background: rgba(200, 54, 54, 0.01); 
	
}

body { 
	font-family: 'Ultra', serif;
	/*letter-spacing: 10px;*/
	padding-top: 190px;
	background-color: black;
	background-image: url('../images/fistful.jpg'); 
	background-size: 100%;

	/*background-size: 2210px 940px;*/
	/*background-size:contain;*/
	/*background-position:center;*/
 	background-repeat:no-repeat;
 	color: white;
	
}

.navbar {
	letter-spacing: 5px;
	color: white;
	background-color: black;
}


.score {
	float: right;
}

#gamestats {
	float: right;
	/*width: 40%;*/
}


footer {
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

#sixty {
	display: none;
}


